*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
html {
    /* calculation for 1 rem: browser default is 16px,  we want 1 rem = 10px. Hence : (10/16)*100 = 62.5% */
    /* font-size: 10px; */
    font-size: 62.5%;
}
body {
    font-family: "Latto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(214, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
    /* clip-path: circle(33% at 50% 50%); */
    /* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
    /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */
}
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.header__logo {
    height: 3.5rem;
}
.header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .8rem;
    
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    50% {
        transform: translateX(7.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    50% {
        transform: translateX(-7.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
}
.btn--white {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
}
.btn:hover {
    transform: translateY(-.4rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--animated {
    animation: fadeIn 5s ease-out 2s;
    animation-fill-mode: backwards;
}
.mb-50{
    margin-bottom: 5rem;
}
