* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Latto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(214, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
    /* clip-path: circle(33% at 50% 50%); */
    /* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
    /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */
}
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo {
    height: 35px;
}
.heading-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.heading-primary-sub {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 8px;
    
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(75px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    50% {
        transform: translateX(-75px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
}
.btn-white {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
}
.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.btn-animated {
    animation: fadeIn 5s ease-out 2s;
    animation-fill-mode: backwards;
}
.mb-50{
    margin-bottom: 50px;
}
