@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  50% {
    transform: translateX(7.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  50% {
    transform: translateX(-7.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* calculation for 1 rem: browser default is 16px,  we want 1 rem = 10px. Hence : (10/16)*100 = 62.5% */
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Latto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .8rem;
    animation: moveInRight 2s ease-out; }

.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, #d60000, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all; }
  .header-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 5rem 2rem rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500; }

.para-text {
  font-size: 1.6rem; }
  .para-text:not(:last-child) {
    margin-bottom: 3rem; }

.mb-10 {
  margin-bottom: 1rem; }

.mb-20 {
  margin-bottom: 2rem; }

.mb-30 {
  margin-bottom: 3rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-50 {
  margin-bottom: 5rem; }

.mb-60 {
  margin-bottom: 6rem; }

.mb-70 {
  margin-bottom: 7rem; }

.mb-80 {
  margin-bottom: 8rem; }

.centered-text {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s; }

.btn--white {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8); }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--animated {
  animation: fadeIn 5s ease-out 2s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #d60000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  border-bottom: 1px solid #d60000;
  padding: 1rem 3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #d60000;
  color: #ffffff;
  transform: translateY(-0.4rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.pictures {
  position: relative; }
  .pictures__pic {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .pictures__pic--p1 {
      left: 0;
      top: -2rem; }
    .pictures__pic--p2 {
      right: 5rem;
      top: 2rem; }
    .pictures__pic--p3 {
      left: 20%;
      top: 10rem; }
    .pictures__pic:hover {
      outline: 1.5rem solid #d60000;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .pictures:hover .pictures__pic:not(:hover) {
    transform: scale(0.9); }

.passtime-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .passtime-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #d60000, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .passtime-box:hover {
    transform: translateY(-1.5rem) scale(1.04); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(214, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3*6rem) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*6rem) /4) + 2*6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0; }

.section-passtime {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(214, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-passtime > * {
    transform: skewY(7deg); }
