@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    50% {
        transform: translateX(7.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    50% {
        transform: translateX(-7.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
