.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    &--sub {
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: .8rem;
        
        animation: moveInRight 2s ease-out;
    }
}

body {
    font-family: "Latto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey;
    padding: 3rem;
}
