// Colors
$color-primary: #d60000;
$color-secondary: #000000;
$color-white: #ffffff;
$color-grey: #777777;

$color-light-grey-1 : #f7f7f7;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
